<section class="about" id="about">
    <div class="container">
        <div class="description">
            <div class="title">
                <p><span class="text-first-style">Hello i'm </span><span class="text-second-style">Nesrine
                        GHRIBI.</span></p>
                <p><span class="text-first-style">FRONTEND </span><span class="text-third-style">Developer</span></p>
                <p><span class="text-first-style">Based </span><span class="text-second-style">In Tunisia</span></p>
            </div>
            <p class="text-description">
                I am a passionate Angular developer with 6 years of experience building dynamic, scalable, and
                responsive
                web applications. My journey in front-end development started with a deep interest in technology and a
                strong desire to craft seamless and intuitive user experiences. Over the years, I’ve specialized in
                Angular,
                delivering performant and maintainable applications while continuously exploring the latest web
                standards
                and best practices.
            </p>
            <div class="social-media">
                <a class="square black" href="https://www.facebook.com/profile.php?id=61550972199484">
                    <img src="/images/facebook.png" width="25" height="25" alt="LinkedIn Icon">
                </a>
                <a class="square" href="https://www.linkedin.com/in/nesrine-ghribi-3905502a3/">
                    <img src="/images/linkedin.png" width="25" height="25" alt="LinkedIn Icon">
                </a>
                <a class="square" href="https://x.com/NesrineGHR36210">
                    <img src="/images/x.png" width="25" height="25" alt="LinkedIn Icon">
                </a>
                <a class="square" href="https://www.reddit.com/user/Diligent-Bit6424/">
                    <img src="/images/reddit.png" width="25" height="25" alt="LinkedIn Icon">
                </a>
            </div>
        </div>
        <div class="image-container">
            <img src="/images/Banner.png" alt="About Me Image" class="about-image">
        </div>
    </div>
</section>