<section id="skills" class="skills">
    <div class="container">
        <h2><span class="text-first-style">My </span><span class="text-second-style">Skills</span></h2>
        <div class="skills-list">
            <div class="skill-item">
                <img src="/images/typescript.png" width="35" height="35" alt="TypeScript">
                <p>TypeScript</p>
            </div>
            <div class="skill-item yellow">
                <img src="/images/angular.png" width="35" height="35" alt="Angular">
                <p>Angular</p>
            </div>
            <div class="skill-item">
                <img src="/images/icon-javscript.png" width="35" height="35" alt="JavaScript">
                <p>JavaScript</p>
            </div>
            <div class="skill-item">
                <img src="/images/html5.png" width="35" height="35" alt="HTML">
                <p>HTML</p>
            </div>
            <div class="skill-item">
                <img src="/images/css.png" width="35" height="35" alt="CSS">
                <p>CSS</p>
            </div>
            <div class="skill-item">
                <img src="/images/bootstrap.png" width="35" height="35" alt="CSS">
                <p>Bootstrap</p>
            </div>
            <div class="skill-item">
                <img src="/images/java3.png" width="35" height="35" alt="Other">
                <p>Java</p>
            </div>
            <div class="skill-item">
                <img src="/images/spring-boot.svg" width="35" height="35" alt="Other">
                <p>Spring Boot</p>
            </div>
        </div>
    </div>
</section>